body {
  margin: 1rem;
}

.shopping-cart {
  float: right;
  /* right: 10rem; */
  /* position: absolute; */
  display: inline-block;
  margin-right: 200px;
  margin-left: 1rem;

}

.shop-items {
  display: inline-block;
  list-style: none;
}

.single-shop-item p{
  display: inline-block;
  margin: 10px;
}

.add-to-cart {
  float: right;
  right: 10px;
}

.main {
  position: absolute;
}

li {
  list-style: none;
}
